<%- include ('partials/header') %>

    <div class="row align-items-start">
        <div class="col">
            <div class="container mt-5 ms-5">
                <img src="img/logo.png" class="logo alt="">
                <h1 class=" display-4">Welcome to Easy Survey</h1>
                <h3 class="lead">Create surveyes and track feedbacks with ease!</h3>
            </div>
            <div class="container mt-5 ms-5">
                <h4>Login or Register To Continue..</h4>
                <div class="d-grid gap-2 col-6">
                    <button class="btn btn-primary btn-lg" type="button">Button</button>
                    <button class="btn btn-outline-info btn-lg" type="button">Button</button>
                    <div class="mt-1"><button type="button" class="btn btn-link">Vist as a Guest</button></div>
                </div>
            </div>
        </div>
        <img src="/img/graph.jpg" class="col img-fluid" alt="...">

        <%- include ('partials/footer') %>